.App {
  text-align: center;
}

.footer{
    background-color:rgba(252,215,218,255);
}

.footer-copyright p{
    font-size: 16px;
    line-height: 15px;
    color: rgb(204, 51, 51);
    font-weight: 600;

}
.footer-down{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.7rem;
  }

.footer-downs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-down p{
    color: rgb(204, 51, 51);
  text-decoration: row; 
}
.footer-down a{
  color: rgb(204, 51, 51);

    text-decoration: row;
    padding: 0px;
}

img{
  position: relative;
  float: left;
  width:  80px;
  height: 80px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
