*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.imeprezime{
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
}

.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1 rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav li.active{
  font-size: 1.3rem;
}

.nav li:hover{
  background-color: #777;
}

.usericon{
  width: 40px;
  padding: 5px;
}

.karta{
  align-items: center;
  height: fit-content;
  margin: 70px;
}

.map{
  height: 70vh;
}